/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

$primary-color: black;
$font-stack: arial;
$location: absolute;
$align: center;
$fsize: 25px;

@mixin div-position($left-val, $top-val){
	left: $left-val;
	top: $top-val;
}
@mixin div-size($width-val, $height-val){
	width: $width-val;
	height: $height-val;	
}

body {
    background-color: bisque;
    font: 100% $font-stack;
}
h1 {
    color: $primary-color;
    text-align: $align;
}
h3 {
    color: $primary-color;
    text-align: $align;
    font-size: 30px;
    font-style: italic
}
h2{
    color: $primary-color;
    text-align: $align;
}
p {
    font-size: 20px;
    color: $primary-color;
}

.p1{
    font-size: $fsize;
    color:$primary-color;;
    font-style: italic
}	
.p2{
    font-size: $fsize;
    color:$primary-color;
}	
.p3 p{
    position: $location;
    @include div-position(50px, 250px);
    font-size: $fsize;
    color: white;
    text-align: left;
}
.message {
    margin-left: auto;
    margin-right: auto;
	text-align: $align;
	width: 70%;
    }

.block{
    margin-left: auto;
    margin-right: auto;
	text-align: $align;    	
 }
.center{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
}    
.padding {
    position: $location;
    @include div-position(300px, 180px);
    @include div-size(360px,300px);
    background-color: #EC1E79;
    font-color: white;
    text-align: left;
 }
 .pos1 {
    position: $location;
	  @include div-position(666px, 180px);
    @include div-size(503px,300px);
  } 
.pos21 p{
    position: $location;
    @include div-position(50px, 240px);
    text-align: left;
    font-size: $fsize;
    color: white;
    }

.padding2 {
     position: $location;
     @include div-position(300px, 484px);
     @include div-size(360px,150px);
     background-color:#f6de40;
     text-align: $align;
 
  .pad2 p{
    position: $location;
    @include div-position(50px, 50px);
    text-align: left;
    font-size: $fsize;
    }
 }
.padding3 {
      position: $location;
      @include div-position(666px, 484px);
      @include div-size(360px,150px);
      background-color:aqua;
      text-align: $align;  
  }
.pad3 p{
    position: $location;
    @include div-position(50px, 50px);
    text-align: left;
    font-size: $fsize;
    }
  .padding4 {
      position: $location;
      @include div-position(1029px, 484px);
      @include div-size(140px,150px);
      background-color:SpringGreen ;     
   }
 .pad4{
    position: $location;
    @include div-position(30px, 50px);
    text-align: left;
    font-size: $fsize;
}
.form-group {
    position: $location;
    @include div-position(150px, 20px);
    }
.som{
    position: $location;
  @include div-position(450px, 10px);
  li{
    text-align: left;
      color: white;
      font-size: 15px;
  }
}
.list1{
	position: $location;
	@include div-position(60px, 100px);
}
.list2{
	position: $location;
    @include div-position(180px, 100px);
	}
.list3{
	position: $location;
	@include div-position(350px, 100px);
	}
.list4{
	position: $location;
    @include div-position(500px, 100px);
}
.list5{
	position: $location;
	@include div-position(680px, 100px);
}
.list6{
	position: $location;
	@include div-position(760px, 100px);
	}
.footer2 {
    position: $location;
    @include div-position(775px, 9px);
    @include div-size(80px,50px);
    background-color:blue;
    text-align: $align;
    font-size: 10px;
      h7{
	       color: white; 
       }
    }
.footer3{
    position: $location;
    @include div-position(250px, 250px);
	  text-align: $align; 
	  font-size: 10px;
   }
.example1 {
   position: $location;
    @include div-position(300px, 635px);
    background-color: #A9A9A9;
    padding: 150px 435px;
}