/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/screen.scss */
body {
  background-color: bisque;
  font: 100% arial;
}

/* line 28, ../sass/screen.scss */
h1 {
  color: black;
  text-align: center;
}

/* line 32, ../sass/screen.scss */
h3 {
  color: black;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

/* line 38, ../sass/screen.scss */
h2 {
  color: black;
  text-align: center;
}

/* line 42, ../sass/screen.scss */
p {
  font-size: 20px;
  color: black;
}

/* line 47, ../sass/screen.scss */
.p1 {
  font-size: 25px;
  color: black;
  font-style: italic;
}

/* line 52, ../sass/screen.scss */
.p2 {
  font-size: 25px;
  color: black;
}

/* line 56, ../sass/screen.scss */
.p3 p {
  position: absolute;
  left: 50px;
  top: 250px;
  font-size: 25px;
  color: white;
  text-align: left;
}

/* line 63, ../sass/screen.scss */
.message {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}

/* line 70, ../sass/screen.scss */
.block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 75, ../sass/screen.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: #b0e0e6;
}

/* line 81, ../sass/screen.scss */
.padding {
  position: absolute;
  left: 300px;
  top: 180px;
  width: 360px;
  height: 300px;
  background-color: #EC1E79;
  font-color: white;
  text-align: left;
}

/* line 89, ../sass/screen.scss */
.pos1 {
  position: absolute;
  left: 666px;
  top: 180px;
  width: 503px;
  height: 300px;
}

/* line 94, ../sass/screen.scss */
.pos21 p {
  position: absolute;
  left: 50px;
  top: 240px;
  text-align: left;
  font-size: 25px;
  color: white;
}

/* line 102, ../sass/screen.scss */
.padding2 {
  position: absolute;
  left: 300px;
  top: 484px;
  width: 360px;
  height: 150px;
  background-color: #f6de40;
  text-align: center;
}
/* line 109, ../sass/screen.scss */
.padding2 .pad2 p {
  position: absolute;
  left: 50px;
  top: 50px;
  text-align: left;
  font-size: 25px;
}

/* line 116, ../sass/screen.scss */
.padding3 {
  position: absolute;
  left: 666px;
  top: 484px;
  width: 360px;
  height: 150px;
  background-color: aqua;
  text-align: center;
}

/* line 123, ../sass/screen.scss */
.pad3 p {
  position: absolute;
  left: 50px;
  top: 50px;
  text-align: left;
  font-size: 25px;
}

/* line 129, ../sass/screen.scss */
.padding4 {
  position: absolute;
  left: 1029px;
  top: 484px;
  width: 140px;
  height: 150px;
  background-color: SpringGreen;
}

/* line 135, ../sass/screen.scss */
.pad4 {
  position: absolute;
  left: 30px;
  top: 50px;
  text-align: left;
  font-size: 25px;
}

/* line 141, ../sass/screen.scss */
.form-group {
  position: absolute;
  left: 150px;
  top: 20px;
}

/* line 145, ../sass/screen.scss */
.som {
  position: absolute;
  left: 450px;
  top: 10px;
}
/* line 148, ../sass/screen.scss */
.som li {
  text-align: left;
  color: white;
  font-size: 15px;
}

/* line 154, ../sass/screen.scss */
.list1 {
  position: absolute;
  left: 60px;
  top: 100px;
}

/* line 158, ../sass/screen.scss */
.list2 {
  position: absolute;
  left: 180px;
  top: 100px;
}

/* line 162, ../sass/screen.scss */
.list3 {
  position: absolute;
  left: 350px;
  top: 100px;
}

/* line 166, ../sass/screen.scss */
.list4 {
  position: absolute;
  left: 500px;
  top: 100px;
}

/* line 170, ../sass/screen.scss */
.list5 {
  position: absolute;
  left: 680px;
  top: 100px;
}

/* line 174, ../sass/screen.scss */
.list6 {
  position: absolute;
  left: 760px;
  top: 100px;
}

/* line 178, ../sass/screen.scss */
.footer2 {
  position: absolute;
  left: 775px;
  top: 9px;
  width: 80px;
  height: 50px;
  background-color: blue;
  text-align: center;
  font-size: 10px;
}
/* line 185, ../sass/screen.scss */
.footer2 h7 {
  color: white;
}

/* line 189, ../sass/screen.scss */
.footer3 {
  position: absolute;
  left: 250px;
  top: 250px;
  text-align: center;
  font-size: 10px;
}

/* line 195, ../sass/screen.scss */
.example1 {
  position: absolute;
  left: 300px;
  top: 635px;
  background-color: #A9A9A9;
  padding: 150px 435px;
}
