/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/screen.scss */
body {
  background-color: bisque;
  font: 100% arial;
}

/* line 28, ../sass/screen.scss */
h1 {
  color: black;
  text-align: center;
}

/* line 32, ../sass/screen.scss */
h3 {
  color: black;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

/* line 38, ../sass/screen.scss */
h2 {
  color: black;
  text-align: center;
}

/* line 42, ../sass/screen.scss */
p {
  font-size: 20px;
  color: black;
}

/* line 47, ../sass/screen.scss */
.p1 {
  font-size: 25px;
  color: black;
  font-style: italic;
}

/* line 52, ../sass/screen.scss */
.p2 {
  font-size: 25px;
  color: black;
}

/* line 56, ../sass/screen.scss */
.p3 p {
  font-size: 25px;
  color: white;
  text-align: left;
}

/* line 61, ../sass/screen.scss */
.message {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}

/* line 68, ../sass/screen.scss */
.block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 73, ../sass/screen.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: #b0e0e6;
}

/* line 79, ../sass/screen.scss */
.padding {
  position: absolute;
  left: 200px;
  top: 180px;
  width: 360px;
  height: 300px;
  background-color: #EC1E79;
  font-color: white;
  text-align: left;
}

/* line 87, ../sass/screen.scss */
.pos1 {
  position: absolute;
  left: 562px;
  top: 180px;
  width: 503px;
  height: 300px;
}

/* line 92, ../sass/screen.scss */
.padding2 {
  position: absolute;
  left: 200px;
  top: 484px;
  width: 360px;
  height: 150px;
  background-color: #f6de40;
  text-align: center;
}

/* line 99, ../sass/screen.scss */
.padding3 {
  position: absolute;
  left: 564px;
  top: 484px;
  width: 360px;
  height: 150px;
  background-color: aqua;
  text-align: center;
}

/* line 107, ../sass/screen.scss */
.padding4 {
  position: absolute;
  left: 927px;
  top: 484px;
  width: 140px;
  height: 150px;
  background-color: SpringGreen;
  text-align: center;
}

/* line 115, ../sass/screen.scss */
.form-group {
  position: absolute;
  left: 350px;
  top: 650px;
}

/* line 119, ../sass/screen.scss */
.list1 {
  position: absolute;
  left: 200px;
  top: 720px;
}

/* line 123, ../sass/screen.scss */
.list2 {
  position: absolute;
  left: 320px;
  top: 720px;
}

/* line 127, ../sass/screen.scss */
.list3 {
  position: absolute;
  left: 500px;
  top: 720px;
}

/* line 131, ../sass/screen.scss */
.list4 {
  position: absolute;
  left: 620px;
  top: 720px;
}

/* line 135, ../sass/screen.scss */
.list5 {
  position: absolute;
  left: 820px;
  top: 720px;
}

/* line 139, ../sass/screen.scss */
.list6 {
  position: absolute;
  left: 950px;
  top: 720px;
}

/* line 143, ../sass/screen.scss */
.som {
  position: absolute;
  left: 750px;
  top: 650px;
}
/* line 146, ../sass/screen.scss */
.som li {
  text-align: left;
  color: white;
  font-size: 15px;
}

/* line 152, ../sass/screen.scss */
.footer2 {
  position: absolute;
  left: 980px;
  top: 650px;
  width: 80px;
  height: 50px;
  background-color: blue;
}

/* line 158, ../sass/screen.scss */
.footer3 {
  position: absolute;
  left: 450px;
  top: 830px;
  text-align: center;
}

/* line 163, ../sass/screen.scss */
.footer {
  position: absolute;
  left: 200px;
  top: 620px;
  width: 852px;
  height: 350px;
  background-color: gray;
}
