#{extends 'main.html' /}

<html>
	<body>
		<div class="message">
			<img src="public/images/ic_finish.png">
			<span style=""> <b>Done!</b> </span>
         <div>
			<img width="75%" src="/public/images/bg_seperateline.png">
		    <h3>Find out what you can do next:</h3>
		 </div>  
       </div>
        <div class="container">
			<ul class="block">
				<li>
				  <div class="padding">
					<img src="/public/images/ic_gotovideo.png" alt="Play Video">
				    <div class="p3">
				       <p>How to Scan</p>
				    </div >
				  </div>  
				  <div class="pos1">
				 	<img src="/public/images/img_item_2.png" >
				      <!-- <p>Customize your AiO!</p>
					   <p>with Web App - <br>Photo Board</br></p>-->
				  </div>
				  </li>
				 <li> 
                    <div class="padding2">
					 <p><b>Video Tutorial</b></p>
                   </div>
                   <div class="padding3">
                      <p><b>Get the latest software</b></p>
                   </div>
					<div class="padding4">
                        <p><b>FAQ</b></p>
                    </div>   
				</li>
			</ul>
		</div>

     <div class="form-group">
	 	  <input>
	 	 <button>SUBSCRIBE</button>
 	 </div>
 	 <div class="som">
 	    <a href="default.asp"><img src="/public/images/ic_fb.png" alt="FB"></a>
 	 	<a href="default.asp"><img src="/public/images/ic_wixin.png" alt="WIXIN"></a>
 	 	<a href="default.asp"><img src="/public/images/ic_qq.png" alt="QQ"></a>
 	  </div>
 	 <div class="footer2">
          <img src="/public/images/ic_lang.png">
          <span style=""> <b>US-English</b> </span>

     </div>
	<ul class="list1">
  		<li>Product</li>
  		<li>daVinci 1.0 </li>
  		<li>daVinci 2.0 Duo</li>
  		<li>Filament </li>
 	</ul> 

	<ul class="list2">
    	<li>Galery</li>
    	<li> Upload Model </li>
		<li> Artist Collection </li>
		<li> Web App </li>
		<li> Galery </li>
		<li> Free Download </li>
		<li> New Release </li>
	</ul>

	<ul class="list3">
  		<li>News</li>
  		<li> Event </li>
  		<li> Press Release </li>
  		<li> STORE </li>
  		<li> E-Taller </li>
 	</ul>

	 <ul class="list4">
 		 <li>Help Center</li>
 		 <li> How to Solve Problem </li>
  		<li> Video Tutorial </li>
  		<li> Download and Document </li>
  		<li> Support Tickets</li>
  		<li> Latest Update</li>
	</ul>
	<ul class="list5">	
		<li> Sign  </li>
		<li> Profiles </li>
    	<li> My Galery </li>
    	<li> Regist </li> 
	</ul>
	<ul class="list6">
		<li> About Us </li>
		<li> Contact Us </li>
		<li> Privacy Policy </li>
		<li> Term of Use </li>
		<li> Career </li>
	</ul>

    <div class="footer3">
       <img src="/public/images/ic_logo_xyz.png">
       <img src="/public/images/ic_kinpo.png">
       <span style="">Copyright 2014 XYZprinting All Rights Reserved...</b> </span>
    </div>

</body>
</html>

